<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>ENTER DETAILS FOR ADDING A STUDENT:</h1>
<form action="addstudent" method="post">
<label>Roll:</label>
<input type="text" name="roll">
<br/><br/>
<label>Name:</label>
<input type="text" name="name">
<br/><b/>
<label>Branch:</label>
<input type="text" name="branch">
<br/><br/>
<label>Yop:</label>
<input type="text" name="yop">
<br/><br/>
<input type="submit" value="ADDSTUDENT">
</form>

</body>
</html>